@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rubik Regular */
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Bold.eot");
  src: url("/fonts/Rubik-Bold.woff2") format("woff2"),
    url("/fonts/Rubik-Bold.woff") format("woff"),
    url("/fonts/Rubik-Bold.otf") format("opentype"),
    url("/fonts/Rubik-Bold.eot"?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Suisse Mono */
@font-face {
  font-family: "SuisseMono";
  src: url("/fonts/SuisseIntlMono-Regular.eot");
  src: url("/fonts/SuisseIntlMono-Regular.woff2") format("woff2"),
    url("/fonts/SuisseIntlMono-Regular.woff") format("woff"),
    url("/fonts/SuisseIntlMono-Regular.otf") format("opentype"),
    url("/fonts/SuisseIntlMono-Regular.eot"?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Suisse Intl Regular */
@font-face {
  font-family: "Suisse";
  src: url("/fonts/SuisseIntl-Regular.eot");
  src: url("/fonts/SuisseIntl-Regular.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Regular.woff") format("woff"),
    url("/fonts/SuisseIntl-Regular.otf") format("opentype"),
    url("/fonts/SuisseIntl-Regular.eot"?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* NBInternationalPro Regular */
@font-face {
  font-family: "NBInternationalPro";
  src: url("/fonts/NBInternationalPro-Regular.eot");
  src: url("/fonts/NBInternationalPro-Regular.woff2") format("woff2"),
    url("/fonts/NBInternationalPro-Regular.woff") format("woff"),
    url("/fonts/NBInternationalPro-Regular.otf") format("opentype"),
    url("/fonts/NBInternationalPro-Regular.eot"?#iefix)
      format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* NBInternationalPro Light */
@font-face {
  font-family: "NBInternationalPro";
  src: url("/fonts/NBInternationalPro-Light.eot");
  src: url("/fonts/NBInternationalPro-Light.woff2") format("woff2"),
    url("/fonts/NBInternationalPro-Light.woff") format("woff"),
    url("/fonts/NBInternationalPro-Light.otf") format("opentype"),
    url("/fonts/NBInternationalPro-Light.eot"?#iefix)
      format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* NBInternationalPro Medium */
@font-face {
  font-family: "NBInternationalPro";
  src: url("/fonts/NBInternationalPro-Medium.eot");
  src: url("/fonts/NBInternationalPro-Medium.woff2") format("woff2"),
    url("/fonts/NBInternationalPro-Medium.woff") format("woff"),
    url("/fonts/NBInternationalPro-Medium.otf") format("opentype"),
    url("/fonts/NBInternationalPro-Medium.eot"?#iefix)
      format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* NBInternationalPro Bold */
@font-face {
  font-family: "NBInternationalPro";
  src: url("/fonts/NBInternationalPro-Bold.eot");
  src: url("/fonts/NBInternationalPro-Bold.woff2") format("woff2"),
    url("/fonts/NBInternationalPro-Bold.woff") format("woff"),
    url("/fonts/NBInternationalPro-Bold.otf") format("opentype"),
    url("/fonts/NBInternationalPro-Bold.eot"?#iefix) format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    /* Global responsive gutter / gap spacing */
    .gutter {
      @apply p-4 sm:p-6 md:p-8 lg:p-10;
    }

    .gutter-x {
      @apply px-4 sm:px-6 md:px-8 lg:px-10;
    }

    .gutter-y {
      @apply py-4 sm:py-6 md:py-8 lg:py-10;
    }

    .gap {
      @apply gap-4 sm:gap-6 md:gap-8;
    }

    .h-header {
      height: 88px;
    }

    /* Buttons */
    .btn {
      @apply inline-flex h-10 items-center justify-center rounded border border-transparent px-4 py-2 text-base font-medium uppercase tracking-wide text-zinc-300 active:translate-y-[1.5px];
    }

    .btn-primary {
      @apply bg-primary-500 text-black brightness-90 hover:border-primary-500 hover:brightness-100;
    }

    .btn-outline {
      @apply border-zinc-600 bg-black font-mono text-sm uppercase text-primary-500 transition-colors hover:border-primary-500 hover:bg-primary-500 hover:text-black;
    }

    .btn-icon {
      @apply h-10 w-11 border-transparent;
    }
  }
}

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply font-display text-2xl uppercase md:text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  p {
    @apply text-zinc-400;
  }

  a {
    @apply text-zinc-200 hover:text-primary-500;
  }

  .border-color {
    @apply border-zinc-950;
  }
}

html {
  font-size: 14px;
}

body {
  @apply bg-black text-zinc-100;
}
